.mat-mdc-card {
	border-radius: 16px !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-surface {
	border-radius: 18px !important;
}

.mat-mdc-unelevated-button {
	--mdc-filled-button-container-color: #21639f;
}

