@use "@angular/material" as mat;

html {
	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$cyan-palette,
			),
			typography: Roboto,
			density: 0,
		)
	);

	@include mat.card-overrides(
		(
			elevated-container-color: #fff,
			filled-container-color: #eef6ff,
			outlined-container-color: #fff,
		)
	);
}
