<footer class="bottom-navigation">
	<nav aria-label="主要導覽">
		<a
			routerLink="/dashboard"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
		>
			<mat-icon>space_dashboard</mat-icon><span>總覽</span>
		</a>
		<a
			routerLink="/activities"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
		>
			<mat-icon>receipt_long</mat-icon><span>訂閱</span>
		</a>
		<a
			routerLink="/calendar"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
		>
			<mat-icon>calendar_month</mat-icon><span>月曆</span>
		</a>
	</nav>
</footer>
